<section class="bg-light py-3 py-md-5 vh-100">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center w-100">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="text-center mb-3">
              <a href="#!">
                <img src="<%= asset_path('billsplitter.jpg') %>" class="bsb-tpl-logo" alt="" width="175" height="57">
              </a>
            </div>
            <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Resend confirmation instructions</h2>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="row gy-2 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control custom-width", placeholder: "name@example.com", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), required: true %>
                    <label for="email" class="form-label">Email</label>
                  </div>
                </div>

                <div class="col-12">
                  <div class="d-grid my-3">
                    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-lg" %>
                  </div>
                </div>

                <div class="col-12">
                  <p class="m-0 text-secondary text-center">Already confirmed your email? <%= link_to "Log in", new_session_path(resource_name), class: "link-primary text-decoration-none" %></p>
                </div>
                <div class="col-12">
                  <p class="m-0 text-secondary text-center">Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name), class: "link-primary text-decoration-none" %></p>
                </div>
                <div class="col-12">
                  <p class="m-0 text-secondary text-center"> <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "link-primary text-decoration-none" %></p>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

